<ion-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>跟进人</mat-label>
      <input type="text" formControlName="followPerson" matInput placeholder="请输入用户名" required readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>标签</mat-label>
      <input (click)="showPicker('followLabel')" type="text" [value]="form.get('followLabel').value | label : labels" matInput value="" placeholder="请输入手机号" required readonly>
      <button (click)="showPicker('followLabel')" mat-button matSuffix mat-icon-button>
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>跟进时间</mat-label>
      <input (click)="datePicker('followTime')" type="text" formControlName="followTime" matInput value="" placeholder="请选择跟进时间" required readonly>
      <button (click)="datePicker('followTime')" mat-button matSuffix mat-icon-button>
        <ion-icon name="md-calendar"></ion-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>跟进记录</mat-label>
      <textarea matInput formControlName="content" placeholder="Leave a comment" required></textarea>
    </mat-form-field>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="form.invalid" (click)="submit()" expand="full">
      提交
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </ion-toolbar>
</ion-footer>
