:host {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  position: relative;

  .empty-content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    ion-icon {
      width: 100px;
      height: 100px;
      color: #ccc;
      display: block;
      margin: 0 auto;
    }

    h3 {
      color: #999;
      text-align: center;
      font-size: 14px;
    }
  }
}
