<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{company}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{brandCount}}</ion-card-subtitle>
      <ion-card-title>商标</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas *ngIf="exist && brandList.length !== 0" id="brand" style="width: 100%"></canvas>
      <ion-text *ngIf="!exist || brandList.length === 0">暂无该客户公司的商标数据，建议尽快申请进行品牌保护！</ion-text>
    </ion-card-content>
    <ion-card-content *ngIf="exist && brandList.length !== 0">
      <p><span class="link">{{brandAnalyse.highRiskCount}}</span>个商标存在<ion-text color="danger">高风险</ion-text></p>
      <p><span class="link">{{brandAnalyse.riskCount}}</span>个商标存在<ion-text color="warning">风险</ion-text></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{brandCount}}</ion-card-subtitle>
      <ion-card-title>专利</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas  *ngIf="exist && patentList.length !== 0" id="patent" style="width: 100%"></canvas>
      <ion-text *ngIf="!exist || patentList.length === 0">暂无该客户公司的专利数据，建议尽快申请进行科创保护！</ion-text>
    </ion-card-content>
    <ion-card-content *ngIf="exist && patentList.length !== 0">
      <p>发明专利有<ion-text color="primary">{{patentAnalyse.inventionOpportunityCount}}</ion-text>个合作机会</p>
      <p>使用新型专利有<ion-text color="primary">{{patentAnalyse.useOpportunityCount}}</ion-text>个合作机会</p>
      <p>外观专利有<ion-text color="primary">{{patentAnalyse.exteriorOpportunityCount}}</ion-text>个合作机会</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{brandCount}}</ion-card-subtitle>
      <ion-card-title>版权</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas *ngIf="exist && copyList.length !== 0" id="copy" style="width: 100%"></canvas>
      <ion-text *ngIf="!exist || copyList.length === 0">暂无该客户公司的版权数据，建议尽快申请进行文创保护！</ion-text>
    </ion-card-content>
    <ion-card-content *ngIf="exist && copyList.length !== 0">
      <p>发现有<ion-text color="primary">{{copyAnalyse.opportunityCount}}+</ion-text>个合作机会</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="back()" color="medium" expand="full">
      返回
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </ion-toolbar>
</ion-footer>
