ion-content {
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .desc {
    font-size: 12px;
    color: #999;
    span {
      margin-right: 15px;
    }
  }
}