<ion-header>
  <ion-searchbar debounce="1000" (ionChange)="search($event)" placeholder="搜索"></ion-searchbar>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button (click)="params.timeOrder === 'desc' ? params.timeOrder = 'asc' : params.timeOrder = 'desc';getData()" value="friends" layout="icon-end">
        <ion-icon [name]="params.timeOrder === 'desc' ? 'md-arrow-down' : 'md-arrow-up'"></ion-icon>
        <ion-label>时间</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="params.amountOrder === 'desc' ? params.amountOrder = 'asc' : params.amountOrder = 'desc';getData()" value="enemies" layout="icon-end">
        <ion-icon [name]="params.amountOrder === 'desc' ? 'md-arrow-down' : 'md-arrow-up'"></ion-icon>
        <ion-label>金额</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="cityPicker()" value="city">
        <ion-label>地区</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of data" [routerLink]="['/pages/nCoV/item',item.id]">
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.reportDateBegin | date : 'yyyy.MM'}} - {{item.reportDateEnd | date : 'yyyy.MM'}}</p>
      </ion-label>
      <ion-note>{{item.city ? item.city : item.province}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="查看更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col class="ion-no-padding" size="2">
                    <ion-tab-button (click)="index()">
                        <ion-img [src]="['/assets/nCoV/home.png']" style="width: 1.5rem;height: 1.5rem"></ion-img>
                        <ion-label style="font-size: 0.8rem">首页</ion-label>
                    </ion-tab-button>
                </ion-col>
                <ion-col class="ion-no-padding" size="4">
                    <ion-button shape="round" router-direction="back" (click)="share()" color="light" expand="full">
                        <ion-icon name="share-alt"></ion-icon>
                        分享</ion-button>
                </ion-col>
                <ion-col class="ion-no-padding" size="6">
                    <ion-button shape="round" [routerLink]="['/pages/nCoV/get']" color="danger" expand="full">订阅所在城市政策汇编</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
