ion-header {
  ion-slides {
    ion-slide {
      font-size: 14px;
      &.disabled {
        color: #999;
      }
      .long {
        width: 100%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

ion-card-title {
  font-size: 20px;
}
ion-card-content {
  padding-top: 0;
}
