ion-content {
  --background: unset;
  background-image: url("/assets/nCoV/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  form {
    width: 60%;
    margin: 50px auto;

    .title {
      width: 100%;
      margin: 0 auto 15px auto;

      img {
        display: block;
        width: 100%;
      }
    }

    mat-form-field {
      width: 100%;
      font-size: 12px;

      &::ng-deep {
        .mat-form-field-outline {
          .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
            background: #fff;
            border: none !important;
          }

          .mat-form-field-outline-start {
            border-radius: 23px 0 0 23px;
            width: 22px !important;
          }

          .mat-form-field-outline-end {
            border-radius: 0 23px 23px 0;
          }
        }

        .mat-form-field-infix {
          padding: 0.75em 0 !important;
        }

        .mat-form-field-flex {
          padding: 0 1.75em !important;
        }
      }
    }

    button {
      width: 100%;
      line-height: 36px;
      border-radius: 24px;
      font-size: 16px;
    }
  }

  .tips {
    font-size: 12px;
    text-align: center;
  }

  .code {
    img {
      display: block;
      width: 120px;
      margin: 10px auto 0;
    }
  }
}
