<ion-content>
    <form [formGroup]="form" class="auth-form">
        <div class="title">
            <img src="/assets/nCoV/title.png">
        </div>
        <mat-form-field appearance="outline">
            <input type="text" (click)="pickerShow()" name="address" [(ngModel)]="address"
                   [ngModelOptions]="{standalone: true}" matInput value="" placeholder="选择地区" readonly>
            <mat-icon matSuffix style="transform: rotate(90deg)">arrow_right</mat-icon>
            <mat-error *ngIf="form.get('city').hasError('required')">
                请选择地区
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="text" formControlName="companyName" matInput value="" placeholder="企业名称">
            <mat-error *ngIf="form.get('companyName').hasError('required')">
                请输入企业名称
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="text" formControlName="name" matInput value="" placeholder="联系人名称">
            <mat-error *ngIf="form.get('name').hasError('required')">
                请输入联系人名称
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="text" formControlName="mobile" matInput value="" placeholder="联系电话">
            <mat-error *ngIf="form.get('mobile').hasError('pattern') && !form.get('mobile').hasError('required')">
                请输入 <strong>正确</strong> 的联系电话
            </mat-error>
            <mat-error *ngIf="form.get('mobile').hasError('required')">
                请输入联系电话
            </mat-error>
        </mat-form-field>
        <button (click)="submit()" color="warn" [disabled]="form.invalid" type="button" mat-raised-button>立即提交</button>
        <p class="tips">扫码或提交信息<br>
            免费咨询各地补贴及申报指南</p>
        <div class="code">
            <img src="/assets/nCoV/code.png">
        </div>
    </form>
</ion-content>
