<ion-content #content>
    <div class="banner">
        <img src="/assets/nCoV/banner.jpg">
    </div>
    <div class="tabs">
        <ion-grid>
            <ion-row>
                <ion-col [ngClass]="{'curr' : state === 'map'}" (click)="scrollTo('map',0)" size="3">政策地图</ion-col>
                <ion-col [ngClass]="{'curr' : state === 'list'}" (click)="scrollTo('list',100)" size="3">最新政策</ion-col>
                <ion-col [ngClass]="{'curr' : state === 'central'}" (click)="scrollTo('central',200)" size="3">中央政策</ion-col>
                <ion-col [ngClass]="{'curr' : state === 'work'}" (click)="scrollTo('work',300)" size="3">用工参考</ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <p class="time">截至 {{time | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
    <div class="statistics" #map>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="count" style="color: #d9601e">{{statistics.policyCount}}</div>
                    <div class="label">政策数量</div>
                </ion-col>
                <ion-col>
                    <div class="count" style="color: #f1a415">{{statistics.proviceCount}}</div>
                    <div class="label">覆盖地区</div>
                </ion-col>
                <ion-col>
                    <div class="count" style="color: #72d4d4">{{statistics.consultCount}}</div>
                    <div class="label">咨询企业</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <div echarts [options]="options" [loading]="!mapLoaded" class="demo-chart"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-list #list>
        <ion-list-header>最新政策 <span routerLink="/pages/nCoV/list">查看更多 ></span></ion-list-header>
        <ion-item *ngFor="let item of data;let i = index" [lines]="data && data.length === i + 1 ? 'none' : ''"
                  [routerLink]="['/pages/nCoV/item',item.id]">
            <ion-label>
                <h3>{{item.name}}</h3>
                <p>{{item.reportDateBegin | date : 'yyyy.MM'}} - {{item.reportDateEnd | date : 'yyyy.MM'}}</p>
            </ion-label>
            <ion-note>{{item.city ? item.city : item.province}}</ion-note>
        </ion-item>
    </ion-list>
    <ion-list #central>
        <ion-list-header>中央政策 <span routerLink="/pages/nCoV/central/list">查看更多 ></span></ion-list-header>
        <ion-item *ngFor="let item of centrals;let i = index"
                  [lines]="centrals && centrals.length === i + 1 ? 'none' : ''"
                  [routerLink]="['/pages/nCoV/item',item.id]">
            <ion-label>
                <h3>{{item.name}}</h3>
                <p>{{item.reportDateBegin | date : 'yyyy.MM'}} - {{item.reportDateEnd | date : 'yyyy.MM'}}</p>
            </ion-label>
            <ion-note>{{item.city ? item.city : item.province}}</ion-note>
        </ion-item>
    </ion-list>

    <ion-list #work>
        <ion-list-header>用工常见问题参考 <span routerLink="/pages/nCoV/work/list">查看更多 ></span></ion-list-header>
        <ion-item *ngFor="let item of works;let i = index" [lines]="works && works.length === i + 1 ? 'none' : ''"
                  [routerLink]="['/pages/nCoV/work/item',item.id]">
            <ion-label>
                <h3>{{item.title}}</h3>
                <p>{{item.createTime | date : 'yyyy.MM.dd'}}</p>
            </ion-label>
            <ion-note>{{item.autor}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col class="ion-no-padding" size="4">
                    <ion-button shape="round" router-direction="back" (click)="share()" color="light" expand="full">
                        <ion-icon name="share-alt"></ion-icon>
                        分享
                    </ion-button>
                </ion-col>
                <ion-col class="ion-no-padding" size="8">
                    <ion-button shape="round" [routerLink]="['/pages/nCoV/get']" color="danger" expand="full">
                        订阅所在城市政策汇编
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
