<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="start" (click)="back()">
            <img src="/assets/icon/chevron-back-outline.svg" width="20" height="20">Back
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p style="position: absolute;margin-left:10px;top: 10px;color: #fff">Detection Records</p>
    <ion-img src="/assets/images/pic_top.png"></ion-img>
    <div *ngIf="record?.length < 1">
        <ion-item lines="none">
            <ion-label>
                <h2 style="margin-top: 70px;text-align: center">No record!</h2>
            </ion-label>
        </ion-item>
    </div>
    <div *ngIf="record?.length > 0">
        <ion-item *ngFor="let item of record" [routerLink]="['/pages/record/item',item.id]" detail="false">
            <ion-thumbnail slot="start">
                <img src="{{FILE_PREFIX_URL+item.tongueImgs}}">
            </ion-thumbnail>
            <ion-label>
                <h2>{{item.diagnosisDetail.features}}</h2>
                <p>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </ion-label>
        </ion-item>
    </div>

</ion-content>
<ion-footer>
    <p>Copyright@2020 MyTCMOnline.com</p>
</ion-footer>
