<ion-content>
  <app-empty *ngIf="data && data?.length < 1"></app-empty>
  <ion-list *ngIf="data && data?.length > 0">
    <ion-list-header>
      "{{company.busCust.companyName}}" 相关的行业案例 <ion-text color="danger" style="display: inline">共{{total}}条</ion-text>
    </ion-list-header>
    <ion-card [routerLink]="['/pages/industry/item',item.id]" *ngFor="let item of data" detail>
      <ion-card-header>
        <ion-card-subtitle>{{item.industryNames}}</ion-card-subtitle>
        <ion-card-title>{{item.caseName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{item.summaryContent}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="查看更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button router-direction="back" (click)="back()" color="medium" expand="full">返回</ion-button>
  </ion-toolbar>
</ion-footer>
