
ion-list-header {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    left: 15px;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #ededed;
  }
}

ion-list {
  margin: 15px 0;
}

ion-item {
  font-size: 12px;
  --inner-border-width: 0;
  overflow: inherit;

  mat-checkbox {
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    ::ng-deep {
      label {
        padding: 2px 10px;
        border-radius: 14px;
        background-color:var(--ion-color-medium, #989aa2)!important;
        color:var(--ion-color-medium-contrast, #fff)!important;
        .mat-checkbox-inner-container {
          display: none;
        }
      }
    }
    &.mat-checkbox-checked {
      ::ng-deep {
        label {
          background-color:var(--ion-color-primary, #3880ff)!important;
          color:var(--ion-color-primary-contrast, #fff)!important;
        }
      }
    }
  }
}

:host ::ng-deep .input-wrapper {
  overflow: visible;
}
