<ion-content>
  <mat-card class="user-info">
    <mat-card-header>
      <mat-card-title>{{token.name}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <app-empty *ngIf="data?.length < 1"></app-empty>
  <ion-list *ngIf="data?.length > 0">
    <ion-list-header>
      "我" 的跟进记录
    </ion-list-header>
    <mat-card *ngFor="let item of data">
      <mat-card-header>
        <mat-card-subtitle>第一次跟进</mat-card-subtitle>
        <mat-card-title>{{item.createByName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.content}}</p>
      </mat-card-content>
    </mat-card>
  </ion-list>
</ion-content>
