ion-toolbar {
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
}

ion-segment {
  ion-segment-button {
    max-width: unset;

    input {
      padding: 0;
      margin: 0;
      width: 100%;
      border: 0;
      background: transparent;
      text-align: center;

      &::placeholder {
        color: var(--ion-toolbar-color-unchecked, var(--color));
      }
    }

    &::ng-deep {
      button {
        width: 24px;
        height: 24px;
        line-height: 24px !important;
        color: var(--ion-toolbar-color-unchecked, var(--color));
      }
    }

    &.segment-button-checked {
      input {
        &::placeholder {
          color: var(--ion-toolbar-background, var(--color-checked));
        }
      }

      &::ng-deep {
        button {
          color: var(--ion-toolbar-background, var(--color-checked));
        }
      }
    }
  }
}

mat-card {
  margin: 12px;

  mat-card-header {
    &::ng-deep {
      .mat-card-header-text {
        margin: 0;

        mat-card-title {
          font-size: 16px;
        }
      }
    }
  }

  &.user-info {
    box-shadow: none;

    mat-card-header {
      &::ng-deep {
        .mat-card-header-text {
          margin: 0 auto;

          mat-card-title {
            background-color: var(--ion-color-primary) !important;
            color: var(--ion-color-primary-contrast) !important;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
